#fpsDisplay,
#pingDisplay,
#matchInfo,
#timerHolder,
#killStreakItem,
#ammoHolder,
#leaderboardHolder,
#teamScores {
	background-color: var(--glass-bg) !important;
	border: var(--border) !important;
	border-radius: var(--radius) !important;
	padding: 5px !important;
	color: var(--color-primary) !important;
}
#fpsDisplay span,
#pingDisplay span {
	color: var(--color-primary) !important;
}
